/* nav and homepage */
html {
  max-width: 100%;
  margin: 0;
}



body {
  margin: 0;
  font-family: Montserrat, Verdana, sans-serif;
  font-size: 1rem;
}

.sitename img{
 text-align: left;
  float: left;
  width: 5%;
  z-index: 5;
}

/*nav bar of shop/ contact and work */
.nav img{
/*  color: #ccc;
*/  text-align: left;
  float: left;
  width: 5%;
  padding-left: 3%;
}

.navfirst a {
  color: white;
  text-decoration: none;
  word-spacing: 50px;
}

.navfirst{
  background-color: #b1b1e3;
  color: white;
  text-decoration: none;
  word-spacing: 50px;
  text-decoration-color: white;
  margin: 0;
  text-align: right;
  max-width: 100%;
  padding: 2%;
}

.onefirst a {
  color: #2d3436;
  text-decoration: none;
  word-spacing: 50px;
}

.onefirst {
  text-decoration-color: #2d3436;
  color: white;
  margin: 0;
  text-align: right;
  max-width: 100%;
}


.active a {
  word-spacing: 50px;
  text-decoration: none;
  font-family: Montserrat, Verdana, sans-serif;
}

.active {
  word-spacing: 50px;
  text-decoration: none;
  font-family: Montserrat, Verdana, sans-serif;
}

.active:focus {
  color: #397ebc;
}

.active:hover {
  color: #397ebc;
}

.project a {
  color: #397ebc;
}

.project {
  padding-right: 3%;
}



h1 {
  color: white;
}

h2 {
  color: #2d3436;
  margin: 0;
  padding: 0;
  margin: 15%;
}

.everything {
  margin: 30px;
}

.head {
  background-color: /*#2d3436*/;
  text-align: left;
  padding: 5vh;
  line-height: 1.5;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head {
  margin: 0;
}

.nametext video{
  position: absolute;
  left: 60%;
  top: 15%;
}

.name {
  color: #2d3436;
  font-size: 3rem;
  margin-left: 0%;
}

.start {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  width: 300px;
}

a.start {
  text-decoration: none;
}

.wordCarousel {
  font-size: 2rem;
  font-weight: 100;
  color: #6d73b1;
  display: flex;
}

.wordCarousel > div {
  overflow: hidden;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}

.flip4 li {
  font-family: Montserrat, Verdana, sans-serif;
  color: #6e8bca;
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.flip4 {
  padding-left: 0;
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@media screen and (max-width: 800px) {
  .name {
    font-size: 8rem;
  }
  .wordCarousel {
    font-size: 1.5rem;
  }
  .onefirst a,
  .active {
    word-spacing: 20px;
  }
  .dropdown .dropbtn {
    margin-left: 7px;
  }

  body .features {
    column-count: 1;
  }
}

@media screen and (max-width: 450px) {
  .name {
    font-size: 6rem;
  }
  .wordCarousel {
    font-size: 1.25rem;
  }

  .onefirst a,
  .active {
    word-spacing: 0;
  }

  .dropdown .dropbtn {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
  }
  .onefirst {
    display: flex;
    justify-content: space-between;
  }
 
}

@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
.front body {
  font-family: Montserrat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Homepage */


.title {
  color: #397ebc;
  font-size: 1.5rem;
  position: absolute;
  bottom: 6%;
  text-align: center;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo {
    flex: 25%;
    max-width: 25%;
  }

  .container {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 375px) {
  .photo {
    flex: 100%;
    max-width: 100%;
  }
  .paddinglanding {
    flex-wrap: wrap;
    justify-content: center;
  }
}




/* WHD page */

.post {
  font-size: 2rem;
  padding: 0;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  color: #2d3436;
}

.but{
font-size: 1rem;
padding: 0;
color: #2d3436;
position: flex;
}

.wposter img{
  display: block;
  margin-left: 50%;
  margin-right: auto;
  width: 40%;
  margin-bottom: 5%;
  margin-top: -25%;

}

.wposter{
 font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 25%;
/*  height: 100px;*/
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.mversions{
  margin-left: 20%;
  margin-bottom: 5%;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .postcard {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .postcard {
    flex: 100%;
    max-width: 100%;
  }
}


.galls{
display: flex;
flex-wrap: wrap;
width: calc(100% - 80px);
box-sizing: border-box;
padding-left: 10%;
padding-right: 10%;
padding-bottom: 10%;
/*  margin:10%;*/
}



/* me/ contact page style open*/

.camerame body{
  background-color:#b1b1e3;
  font-family: Montserrat;
}

.camerame{
  opacity: 0.4;
}

.camerame {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:linear-gradient;
}


.boutme {
  color: white;
  margin-top: -90%;
  margin-left:10%;
  margin-right: 10%;
  margin-bottom: 15%;
}



.boutme {
  position: flex;
  margin-top: -80%;
  margin-right: 10%;
  margin-left:10%;
  margin-bottom: 20%;
  align-content: center;
}

.camerame img{
  opacity: 0.3;
}

.camerame {
  background-color:#b1b1e3;
/*  color: black;*/
  display: inline;
  position: relative;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:linear-gradient;
 /* opacity: 0.7;*/
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.camerame {
    font-size: flex;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.camerame {
    font-size: flex;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.boutme {
    font-size: flex;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.boutme {
    font-size: flex;
  }
}


/* me page style close*/


/* title styles */
.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #397ebc;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

button {
  background-color: #397ebc; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: #397ebc;
}

h2.frontpage{
margin: 0;
margin-left: 3%;
}

/*workp page*/

 {
box-sizing: border-box;
}

.buffer{
  margin-left: 3%;
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clearfix (clear floats) */

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  position: relative;
  width: 30%;
}

.image {
  display: block;
  width: 30%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #b1b1e3;
}

.column:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}




@media screen and (max-height: 450px) {
  .pages a {font-size: 20px}
  .pages .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
  


/* roadbikes */


.headbike img {
  /*header image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
/*  margin-bottom: 5%;*/
}

.headbike h3 {
  /*title and border box */
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 450px;
/*  height: 339px;*/
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.roadclient {
  /*single client brief*/
/*  padding: 0% 10% 0% 10%;*/
  margin: 0% 5% 5% 5%;
}

.roadclient{
  position: flex;
  margin-left: 43%;
  margin-bottom: 0;
/*  width: 40%;*/
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.list {
  /*features list */
  margin: 0;
}

.sona{
  margin: 0;
}

.personaman h3{
  position: flex;
  margin-left: 10%;
  margin-bottom: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

.personaman p{
  /*persona copy */
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
  margin-left: 40%;
  width: 45%;
  height: 339px;
  top: 689px;
  margin-top: 0;
  padding-top: 4%;
  padding-left: 10%; 
  padding-right: 5%;
  background: white;
  color: #2d3436;
}

.personaman img {
  /*persona image */
  margin: 0;
  padding: 0;
  position: flex;
 float: left;
  width: 49%;
}


.personawom p{
  margin: 0;
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
  margin-left: 0%;
  margin-top: -3%;
  width: 40%;
  height: 339px;
  top: 689px;
  padding: 5% 15% 3% 3%;
  background: white;
  color: #2d3436;
}

  /*persona image */
.personawom img {
  margin-top: -32%;
  padding: 0;
  position: flex;
 float: right;
  width: 55%;
}

.lowfed h3 {
  /*low fed wireframe copy*/
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
 margin-left: 10%;
  color: black;
}

.lowfed img {
  /*low fed image wireframe*/
  display: center;
  float: center;
  width: 30%;
  padding: 0% 0% 0% 30%;
  margin-bottom: 2%;
}

.medfed h3 {
  /*low fed wireframe copy*/
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
 margin-left: 10%;

  color: black;
}

.medfed img{
  /*med fed wireframe*/
  position: flex;
  display: center;
  float: center;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 2%;
}


.highfed h3 {
  /*low fed wireframe copy*/
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
 margin-left: 10%;
  color: black;

}

.highfed img{
  /*med fed wireframe*/
  position: flex;
  display: center;
  float: center;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 2%;
}


.bikeover {
  /*overview copy*/
  flex: 25%;
  font-size: 1.1rem;
  max-width: flex;
  background: #fccb00;
  padding: 3% 10% 3% 10%;
  margin: 0%;
  margin-bottom: 1%;
  background: white;
  color: #2d3436;
}


/* Echo site */

.echo1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.echo1 h2{
  margin: 0;
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
  margin-left: 0%;
  width: 30%;
  height: 339px;
  top: 689px;
  padding: 5% 15% 3% 3%;
  background: white;
  color: #2d3436;
}

.echo {
  padding-bottom: 10px; 
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  padding-left: 10%;
}

.echosona p{
  /*persona copy */
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
  margin-left: 50%;
  width: 45%;
  height: 339px;
  top: 689px;
  margin-top: 0;
  padding-top: 4%;
  padding-left: 0%; 
  padding-right: 5%;
  background: white;
  color: #2d3436;
}


.echosona1 {
  margin: 0;
  padding: 0;
  position: flex;
  float: right;
  width: 40%;
}


.echosona p{
  margin: 0;
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
  margin-left: 0%;
  margin-top: -3%;
  width: 40%;
  height: 330px;
  top: 689px;
  padding: 5% 15% 3% 3%;
  padding-left: 10%; 
  background: white;
  color: #2d3436;
}

.echosona2 {
  margin: 0;
  margin-top: -31%;
  padding: 0;
  position: flex;
  float: right;
  width: 40%;
}


.lowfedeco h3 {
  /*low fed wireframe copy*/
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
 margin-left: 10%;
  color: black;
}

.lowfedeco img {
  /*low fed image wireframe*/
  display: center;
  float: center;
  margin-left: 15%;
  width: 70%;
}

/* SDG5 camp */

.SDG5 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.SDG5 h3 {
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 450px;
/*  height: 339px;*/
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}




/* diet app */

.today img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.today h3 {
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 450px;
/*  height: 339px;*/
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.tbrief {
position: flex;
margin-left: 53%;
margin-bottom: 0;
width: 40%;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 1.1rem;
}

.tsona h3{
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 10%;
  margin-top: 2%;
}


.tsona img {
  position: flex;
  float: left;
  width: 45%;
  margin-left: 0;
}

.tqoute h3 {
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  margin-top: 0;
  position: flex;
  margin-left: 45%;
  width: 35%;
  height: 350px;
  left: 0px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.ticon h3{
 font-family: Montserrat;
  font-size: 2rem;
  margin-left: 10%;
}

.ticon img{
  margin-top: 0
  padding-bottom: 2%;
  padding-left: 2%; 
  padding-right:2%;
  width: 95%;
}

.tapplow h3{
 font-family: Montserrat;
  font-size: 2rem;
  margin-left: 10%;
}

.tapplow img{
/*  position: flex;
  float: left;*/
    float: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.tapphigh{
margin: 5%;
}

.tapphigh h3{
 font-family: Montserrat;
  font-size: 2rem;
  margin-left: 10%;
}

.tapphigh img{
/*  position: flex;*/
  float: center;
  width: 90%;
  margin-left: 5%;
}

/*hexocene*/

.hex img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 3%;
  margin-top: 5%;
}

.hex h2 {
  font-family: Montserrat;
  font-size: 2rem;
  margin: 0;
  position: flex;
  width: 450px;
  height: 339px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: #4C84A2;
  color: white;
}

.hexover{
    font-family: Montserrat;
  font-size: 1rem;
  margin: 0;
  position: flex;
  width: 80%;
  height: 150px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: #4C84A2;
  color: white;
}

/*milk illus */

.milk img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 1%;
  margin-top: 5%;
}

.milk h2 {
  font-family: Montserrat;
  font-size: 2rem;
  margin: 0;
  position: flex;
  width: 450px;
/*  height: 339px;*/
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.milky img{
  width: 80%;
  margin-top: -10%;
  margin-bottom: 1%;
  margin-left: 10%;
}

.milky h2 {
  font-family: Montserrat;
  font-size: 2rem;
  margin: 0;
  position: flex;
  width: 450px;
  height: 250px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.milkover{
   font-family: Montserrat;
  font-size: 1rem;
  margin: 0;
  position: flex;
  width: 80%;
  height: 150px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

/* food app */

.food img {
  display: block;
  margin-left: auto;
  margin-right: auto;
/*  width: 40%;*/
  margin-bottom: 5%;
  margin-top: 5%;
}

.food h3 {
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 570px;
/*  height: 339px;*/
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.list {
  /*features list */
  margin: 0;
}

.foodbrief {
position: flex;
margin-left: 53%;
margin-bottom: 0;
width: 45%;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 1.3rem;
}

.foodsona h3{
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 10%;
}


.foodsona img {
  position: flex;
  float: left;
  width: 50%;
  margin-left: 0;
}

.foodqoute h3 {
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  margin-left: 50%;
  width: 30%;
  height: 360px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.foodicon img{
  padding-bottom: 2%;
  padding-left: 2%; 
  padding-right:2%;
  width: 95%;
}

.foodicon h3{
  position: flex;
  margin-left: 10%;
  font-size: 2rem;
}


.applow h3{
  position: flex;
  margin-left: 10%;
  font-size: 2rem;
}

.applow img {
  display: block;
  float: center;
  margin-bottom: 5%;
  margin-right: auto;
  width: 100%;
}


.apphigh h3{
  position: flex;
  margin-left: 10%;
  font-size: 2rem;
}

.apphigh img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.video h3{
  position: flex;
  margin-left: 10%;
  font-size: 2rem;
}

.video {
  position: flex;
}

.video video {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  height: 5%;
}

.appview {
  font-family: Montserrat;
  font-size: 1.2rem;
  flex: 25%;
  max-width: flex;
  color: white;
  background: #101111;
  padding: 3% 15% 3% 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  background: white;
  color: #2d3436;
}

/*BGL sale container*/

.out img{
  display: inline-flex;
  justify-content: center;
  width: 30%;
  margin-top:2%;
  margin-left:35%; 
  margin-bottom: 2%;
  padding: 0;
}

.out h3{
  margin-top: 0;
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 30%;
  left: 0px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.bglsale h3{
  margin-top: 1.5%;
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 30%;
/*  height: 200px;*/
  left: 0px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.colum {
  flex: 33%;
  max-width: 33%;
/*  padding: 0 4px;*/
}

.colum img {
  margin-top: 5%;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 5%;
}

.rows{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 0; 
 margin-left: 0%;
}

.outbound{
  font-family: Montserrat;
  font-size: 1.1rem;
  margin-left: 0;
  position: flex;
  width: 80%;
  height: 110px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}


/* move mag */

.magazine img{
  display: inline-flex;
  justify-content: center;
  width: 30%;
  margin-top:1%;
  margin-left:30%; 
  margin-bottom: 0;
  padding: 0;
}


.magazine h3{
  margin-top: 0;
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 30%;
/*  height: 339px;*/
  left: 0px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.move{
  font-family: Montserrat;
  margin-left: 50%; 
}

.board h3{
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 80%;
  height: 350px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.board img{
  display: block;
  margin-left: 50%;
  margin-right: auto;
  width: 40%;
  margin-bottom: 5%;
  margin-top: -25%;
}

.boards{
 font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 25%;
  height: 100px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}


.magmag img {
  vertical-align: middle;
  width: 100%;
}

.moving{
  margin-left: 25%;
}

.row{
    display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 0; 
  margin-left: 10%;
}


.moveover{
  font-family: Montserrat;
  font-size: 1.1rem;
  margin-left: 0;
  position: flex;
  width: 80%;
  height: 110px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}


/* blood app */

.sona {
  flex: 25%;
  max-width: flex;
  padding: 0% 10% 5% 10%;
  margin: 0% 5% 0% 5%;
}

.sona img {
  /*research page image*/
  position: flex;
  float: left;
  width: 50%;
}

.bloodsearch {
  flex: 25%;
  max-width: flex;
  padding: 3% 10% 5% 10%;
  margin: 0% 5% 0% 5%;
  background: #e02020;
  background: rgb(224, 32, 32);
  color: white;
}

.bloodsearch img {
  /*research page image*/
  position: flex;
  float: left;
  width: 40%;
}

.fedlow {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.fedlow img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.lowvideo {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.lowvideo video {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.fedmed {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.fedmed img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.fedmed:hover img {
  transform: scale(1.2);
  position: center;
}

.febhig img {
  display: block;
  float: center;
}

.febhig {
  position: flex;
  padding: 3% 15% 3% 15%;
}

.febhig:hover img {
  transform: scale(1.3);
  position: center;
}

.mockmock {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.mockmock img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.overnew {
  flex: 25%;
  max-width: flex;
  padding: 3% 10% 5% 10%;
  margin: 0% 5% 3% 5%;
  background: #e02020;
  background: rgb(224, 32, 32);
  color: white;
}

/*  Beyonce  */

.beyonce img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.beyonce h3 {
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 30%;
/*  height: 250px;*/
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

/*.once h3{
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 30%;
  height: 200px;
  left: 0px;
  top: 689px;
  margin-left: 3%;
  background: white;
  color: #2d3436;
}*/

.wows{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 5%;
  margin-top: -15%;
}

.cover{
  font-family: Montserrat;
  font-size: 1.1rem;
  margin-left: 0;
  position: flex;
  width: 80%;
  height: 110px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

/*  animations  */

.drawing {
  position: relative;
  padding: 5px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Create two equal columns that sits next to each other */
/* IE 10 */
.illustrations{
  margin: 0% 10% 10% 10%;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  flex: 50%; 
  flex: 50%;
}

.illtext{
  margin:10% 0% 1% 10%;
  margin-left: 10%;
  margin-top: 10%;
}


.drawing img {
  vertical-align: left;
}


/* avatar image/ illustrations */



/*pink hair*/

.pinkhair img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 100%;
}

.pinka{
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  margin-top: 1%;
  margin-bottom: 1%;
  position: flex;
  width: 50%;
  height: 210px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

/*work button */

.btn {
  margin-left: 40%;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.success {color: #2d3436;}


/* Work overlays */

.boxcover a {
  text-decoration: none;
  font-family: Montserrat, Verdana, sans-serif;
}

.boxcover {
  text-decoration: none;
  font-family: Montserrat, Verdana, sans-serif;
}



/*footer, NOTE: needs icons*/

footer {
  max-width: 100%;
  background-color: #b1b1e3;
  /*	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
*/
  color: white;
  padding-top: 10px;
  padding-bottom:10px;
  /*padding: 20px;*/
  text-decoration: none;


}

.foot-con {
  display: flex;
  justify-content: right;
}

.foot-con li {
  list-style: none;
}

.foot-com {
  display: flex;
  justify-content: right;
}

.foot-com li {
  list-style: none;
}

.fot {
  text-decoration: none;
  color: white;
}

.fot2 {
  padding-left: 20px;
  text-decoration: none;
  color: white;
}
