.ddog {
display: flex;
align-items: left;
justify-content: left;
 margin: 3%;
}

img {
 max-width: 100%
}

.image {
flex-basis: 50%
}

.doggo {
font-size: 20px;
 padding-left: 20px;
}

.dog {
color: black;
font-size: 20px;
padding-left: 3%;
}

.ggo{
 display: flex;
 align-items: left;
 justify-content: left;
 margin: 2%;
}


/* roadbikes */


.headbike img {
  /*header image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
/*  margin-bottom: 5%;*/
}

.headbike h3 {
  /*title and border box */
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 450px;
/*  height: 339px;*/
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.roadclient {
  /*single client brief*/
/*  padding: 0% 10% 0% 10%;*/
  margin: 0% 5% 5% 5%;
}

.roadclient{
  position: flex;
  margin-left: 43%;
  margin-bottom: 0;
/*  width: 40%;*/
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.list {
  /*features list */
  margin: 0;
}

.sona{
  margin: 0;
}

.personaman h3{
  position: flex;
  margin-left: 10%;
  margin-bottom: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

.personaman p{
  /*persona copy */
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
  margin-left: 40%;
  width: 45%;
  height: 339px;
  top: 689px;
  margin-top: 0;
  padding-top: 4%;
  padding-left: 10%; 
  padding-right: 5%;
  background: white;
  color: #2d3436;
}

.personaman img {
  /*persona image */
  margin: 0;
  padding: 0;
  position: flex;
 float: left;
  width: 49%;
}


.personawom p{
  margin: 0;
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
  margin-left: 0%;
  margin-top: -3%;
  width: 40%;
  height: 339px;
  top: 689px;
  padding: 5% 15% 3% 3%;
  background: white;
  color: #2d3436;
}

  /*persona image */
.personawom img {
  margin-top: -32%;
  padding: 0;
  position: flex;
 float: right;
  width: 55%;
}

.lowfed h3 {
  /*low fed wireframe copy*/
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
 margin-left: 10%;
  color: black;
}

.lowfed img {
  /*low fed image wireframe*/
  display: center;
  float: center;
  width: 30%;
  padding: 0% 0% 0% 30%;
  margin-bottom: 2%;
}

.medfed h3 {
  /*low fed wireframe copy*/
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
 margin-left: 10%;

  color: black;
}

.medfed img{
  /*med fed wireframe*/
  position: flex;
  display: center;
  float: center;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 2%;
}


.highfed h3 {
  /*low fed wireframe copy*/
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
 margin-left: 10%;
  color: black;

}

.highfed img{
  /*med fed wireframe*/
  position: flex;
  display: center;
  float: center;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 2%;
}


.bikeover {
  /*overview copy*/
  flex: 25%;
  font-size: 1.1rem;
  max-width: flex;
  background: #fccb00;
  padding: 3% 10% 3% 10%;
  margin: 0%;
  margin-bottom: 1%;
  background: white;
  color: #2d3436;
}



/* Echo site */

.echo1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.echo1 h2{
  margin: 0;
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
  margin-left: 0%;
  width: 30%;
  height: 339px;
  top: 689px;
  padding: 5% 15% 3% 3%;
  background: white;
  color: #2d3436;
}

.echo {
  padding-bottom: 10px; 
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  padding-left: 10%;
}

.echosona p{
  /*persona copy */
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
  margin-left: 50%;
  width: 45%;
  height: 339px;
  top: 689px;
  margin-top: 0;
  padding-top: 4%;
  padding-left: 0%; 
  padding-right: 5%;
  background: white;
  color: #2d3436;
}


.echosona1 {
  margin: 0;
  padding: 0;
  position: flex;
  float: right;
  width: 40%;
}


.echosona p{
  margin: 0;
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
  margin-left: 0%;
  margin-top: -3%;
  width: 40%;
  height: 330px;
  top: 689px;
  padding: 5% 15% 3% 3%;
  padding-left: 10%; 
  background: white;
  color: #2d3436;
}

.echosona2 {
  margin: 0;
  margin-top: -31%;
  padding: 0;
  position: flex;
  float: right;
  width: 40%;
}


.lowfedeco h3 {
  /*low fed wireframe copy*/
  font-family: Montserrat;
  font-size: 2rem;
  position: flex;
 margin-left: 10%;
  color: black;
}

.lowfedeco img {
  /*low fed image wireframe*/
  display: center;
  float: center;
  margin-left: 15%;
  width: 70%;
}


/* diet app */

.today img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.today h3 {
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 450px;
/*  height: 339px;*/
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.tbrief {
position: flex;
margin-left: 53%;
margin-bottom: 0;
width: 40%;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 1.1rem;
}

.tsona h3{
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 10%;
  margin-top: 2%;
}


.tsona img {
  position: flex;
  float: left;
  width: 45%;
  margin-left: 0;
}

.tqoute h3 {
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  margin-top: 0;
  position: flex;
  margin-left: 45%;
  width: 35%;
  height: 350px;
  left: 0px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.ticon h3{
 font-family: Montserrat;
  font-size: 2rem;
  margin-left: 10%;
}

.ticon img{
  margin-top: 0
  padding-bottom: 2%;
  padding-left: 2%; 
  padding-right:2%;
  width: 95%;
}

.tapplow h3{
 font-family: Montserrat;
  font-size: 2rem;
  margin-left: 10%;
}

.tapplow img{
/*  position: flex;
  float: left;*/
    float: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.tapphigh{
margin: 5%;
}

.tapphigh h3{
 font-family: Montserrat;
  font-size: 2rem;
  margin-left: 10%;
}

.tapphigh img{
/*  position: flex;*/
  float: center;
  width: 90%;
  margin-left: 5%;
}

/*hexocene*/

.hex img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 3%;
  margin-top: 5%;
}

.hex h2 {
  font-family: Montserrat;
  font-size: 2rem;
  margin: 0;
  position: flex;
  width: 450px;
  height: 339px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: #4C84A2;
  color: white;
}

.hexover{
    font-family: Montserrat;
  font-size: 1rem;
  margin: 0;
  position: flex;
  width: 80%;
  height: 150px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: #4C84A2;
  color: white;
}

/* food app */

.food img {
  display: block;
  margin-left: auto;
  margin-right: auto;
/*  width: 40%;*/
  margin-bottom: 5%;
  margin-top: 5%;
}

.food h3 {
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  width: 570px;
/*  height: 339px;*/
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.list {
  /*features list */
  margin: 0;
}

.foodbrief {
position: flex;
margin-left: 53%;
margin-bottom: 0;
width: 45%;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 1.3rem;
}

.foodsona h3{
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 10%;
}


.foodsona img {
  position: flex;
  float: left;
  width: 50%;
  margin-left: 0;
}

.foodqoute h3 {
  font-family: Montserrat;
  font-size: 2rem;
  margin-left: 0;
  position: flex;
  margin-left: 50%;
  width: 30%;
  height: 360px;
  left: 0px;
  top: 689px;
  padding: 3% 10% 3% 10%;
  background: white;
  color: #2d3436;
}

.foodicon img{
  padding-bottom: 2%;
  padding-left: 2%; 
  padding-right:2%;
  width: 95%;
}

.foodicon h3{
  position: flex;
  margin-left: 10%;
  font-size: 2rem;
}


.applow h3{
  position: flex;
  margin-left: 10%;
  font-size: 2rem;
}

.applow img {
  display: block;
  float: center;
  margin-bottom: 5%;
  margin-right: auto;
  width: 100%;
}


.apphigh h3{
  position: flex;
  margin-left: 10%;
  font-size: 2rem;
}

.apphigh img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.video h3{
  position: flex;
  margin-left: 10%;
  font-size: 2rem;
}

.video {
  position: flex;
}

.video video {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  height: 5%;
}

.appview {
  font-family: Montserrat;
  font-size: 1.2rem;
  flex: 25%;
  max-width: flex;
  color: white;
  background: #101111;
  padding: 3% 15% 3% 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  background: white;
  color: #2d3436;
}


/* blood app */

.sona {
  flex: 25%;
  max-width: flex;
  padding: 0% 10% 5% 10%;
  margin: 0% 5% 0% 5%;
}

.sona img {
  /*research page image*/
  position: flex;
  float: left;
  width: 50%;
}

.bloodsearch {
  flex: 25%;
  max-width: flex;
  padding: 3% 10% 5% 10%;
  margin: 0% 5% 0% 5%;
  background: #e02020;
  background: rgb(224, 32, 32);
  color: white;
}

.bloodsearch img {
  /*research page image*/
  position: flex;
  float: left;
  width: 40%;
}

.fedlow {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.fedlow img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.lowvideo {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.lowvideo video {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.fedmed {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.fedmed img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.fedmed:hover img {
  transform: scale(1.2);
  position: center;
}

.febhig img {
  display: block;
  float: center;
}

.febhig {
  position: flex;
  padding: 3% 15% 3% 15%;
}

.febhig:hover img {
  transform: scale(1.3);
  position: center;
}

.mockmock {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.mockmock img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.overnew {
  flex: 25%;
  max-width: flex;
  padding: 3% 10% 5% 10%;
  margin: 0% 5% 3% 5%;
  background: #e02020;
  background: rgb(224, 32, 32);
  color: white;
}